body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color {
  color: #9A031E;
  color: #3C3E3C;
  color: #E8EDDF;
  color: #472D30;
  color: #723D46;
  color: #E26D5C;
  color: #FFE1A8;
  color: #C9CBA3;
}