.MovieCard {
  background-color:#FFE1A8;
  border: 1px solid #9A031E;
  padding-bottom: 1em;
  font-size: 14px;
}

.MovieCard > img {
  width:100%;
  margin-bottom: 0.6em;
}

span {
  font-weight: bold;
}